@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.pagination {
  @apply flex justify-center;
  @apply my-2 py-2;
}

.pagination * {
  @apply px-3 py-2 mx-2;
  @apply text-gray-700 no-underline bg-white rounded-lg;
}

.pagination a:hover {
  @apply font-semibold text-gray-200 bg-gray-700;
}
